.video iframe {
  width: 100%;
  height: 600px;
}

.header_card {
  background-color: #FFEB3B;
  color: black;
  border: 10px solid DodgerBlue;
  border-radius: 0px 0px 100px 100px;
  -webkit-box-shadow: -1px 2px 33px 13px rgba(29, 255, 72, 0.71);
  box-shadow: -1px 2px 33px 13px rgba(29, 255, 72, 0.71);
  width: 75%;
  margin: 50px auto 20px auto;
  padding: 20px 50px;
}

/*///////////////////////////////////////////////*/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*///////////////////////////////////////////////*/

/*Create a Flex Container*/

.flex-container1 {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container1>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/*////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/

/* The flex-direction Property
The "flex-direction: column;" stacks the flex items vertically (from top to bottom): 
*/

.flex-container2 {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container2>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*//////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////*/

/* The flex-direction Property
The "flex-direction: column-reverse;" stacks the flex items vertically (but from bottom to top): 
*/

.flex-container3 {
  display: flex;
  flex-direction: column-reverse;
  background-color: DodgerBlue;
}

.flex-container3>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*///////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////*/

.flex-container4 {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

.flex-container4>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*///////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////*/

.flex-container5 {
  display: flex;
  flex-direction: row-reverse;
  background-color: DodgerBlue;
}

.flex-container5>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*////////////////////////////////////////////////////*/

.flex-container6 {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container6>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*////////////////////////////////////////////////////*/

.flex-container7 {
  display: flex;
  width: 99%;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container7>div {
  background-color: #f1f1f1;
  width: 100px;
  /*width: 8.33333%;*/
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*///////////////////////////////////////////////////////*/

.flex-container8 {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container8>div {
  background-color: #f1f1f1;
  /*width: 100px;*/
  width: 8.33333%;
  /*width: 7%;*/
  margin: 10px 5px;
  /*padding: 10px;*/
  /*margin: 10px;*/
  /*border: 2px solid grey;*/
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}

.panel8 {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px;
  background-color: #FFEB3B;
}

/*/////////////////////////////////////////////////*/

.flex-container9 {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: DodgerBlue;
}

.flex-container9>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
